/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

/* #Basic Styles
================================================== */
body{background:#fff;font:14px/21px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;color:#444;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;}

/* #Typography
================================================== */
h1,h2,h3,h4,h5,h6{color:#181818;font-family:Georgia, "Times New Roman", serif;font-weight:700;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit;}
h1{font-size:46px;line-height:50px;margin-bottom:14px;}
h2{font-size:35px;line-height:40px;margin-bottom:10px;}
h3{font-size:28px;line-height:34px;margin-bottom:8px;}
h4{font-size:21px;line-height:30px;margin-bottom:4px;}
h5{font-size:17px;line-height:24px;}
h6{font-size:14px;line-height:21px;}
p{line-height:1.5em;margin:0 0 20px;}
p img{margin:0;}
p.lead{font-size:21px;line-height:27px;color:#777;}
em{font-style:italic;}
strong{font-weight:700;}
small{font-size:80%;}
blockquote,blockquote p{font-size:17px;line-height:24px;color:#777;font-style:italic;}
blockquote{border-left:1px solid #ddd;margin:0 0 20px;padding:9px 20px 0 19px;}
blockquote cite{display:block;font-size:12px;color:#555;}
blockquote cite:before{content:"\2014 \0020";}
blockquote cite a,blockquote cite a:visited,blockquote cite a:visited{color:#555;}
hr{border:solid #ddd;clear:both;height:0;border-width:1px 0 0;margin:10px 0 30px;}

/* #Links
================================================== */
a,a:visited{color:#034ea2;text-decoration:none;outline:0;}
a:hover,a:focus{color:#000;text-decoration:underline;}
p a,p a:visited{line-height:inherit;}

/* #Lists
================================================== */
ul,ol{margin-bottom:20px;}
ol{list-style:decimal;}
ol,ul,ul.square,ul.circle,ul.disc{margin-left:30px;}
ul.square{list-style:square outside;}
ul.circle{list-style:circle outside;}
ul.disc{list-style:disc outside;}
nav ul,ul.no-bullets{list-style:none outside;margin-left:0;}
ul ul,ul ol,ol ol,ol ul{font-size:90%;margin:4px 0 5px 30px;}
ul ul li,ul ol li,ol ol li,ol ul li{margin-bottom:6px;}
li{line-height:18px;margin-bottom:12px;}
ul.large li,li p{line-height:21px;}

/* #Images
================================================== */
img,img.scale-with-grid{max-width:100%;height:auto;}
img.no-scale{max-width:none;}

/* #Buttons
================================================== */
.button,
#containerForm>form>button,
input[type="submit"],
input[type="reset"],
#containerForm>form>input[type="button"] {
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover,
#containerForm>form>button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
#containerForm>form>input[type="button"]:hover {
	color: #222;
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

.button:active,
#containerForm>form>button:active,
input[type="submit"]:active,
input[type="reset"]:active,
#containerForm>form>input[type="button"]:active {
	border: 1px solid #666;

}
.button.full-width,
#containerForm>form>button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
#containerForm>form>input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; }

/* Fix for odd Mozilla border & padding issues */
#containerForm>form>button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/* #Forms
================================================== */
form, fieldset { margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 15px 8px;
	outline: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	height: auto;
	width: 245px;
	max-width: 100%;
	display: block;
	margin-bottom: 8px;
	background: #fff; }
select { padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
		color: #444;
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea { min-height: 60px; }
label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;  }
select { width: 220px; }
input[type="checkbox"] { display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; }

/* #Navigation/Menu Styles - Generic
================================================== */
.h-nav ul,.h-nav-text ul{margin:0;padding:0;}
.h-nav ul li,.h-nav-social ul li{display:block;float:left;list-style:none;margin-bottom:0;position:relative;}
.h-nav ul li a{display:block;text-decoration:none;}
.h-nav-text ul li{display:inline;float:none;}
.h-nav-text ul li a{display:inline;}
.h-nav-text ul li:after{content:'|';}
.h-nav-text ul li:last-child:after{content:'';display:none;}
.h-nav-text ul li a:hover{text-decoration:underline;}
.sf-sub-indicator,#show-nav{display:none;}

/* #Navigation/Menu Styles
================================================== */
.main-nav ul ul{position:absolute;left:0;top:100%;width:100%;z-index:100;}
.main-nav ul ul ul{margin-left:-1px;left:100%;top:0;width:100%;}
.main-nav ul ul,.main-nav ul li:hover ul ul,.main-nav ul ul li:hover ul ul{display:none;}
.main-nav ul li:hover ul,.main-nav ul ul li:hover ul,.main-nav ul ul ul li:hover ul{display:block;}
.main-nav ul ul li{float:none;}

/* #Base 960 Grid
================================================== */
.container{position:relative;width:950px;margin:0 auto;padding:0;}


/* #Site Styles
================================================== */
#header,#footer,#primary,#secondary,#show-nav,#show-nav a{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body {
	background: #000101;
}

.inner {
	width: 870px;
	margin: 0 auto;
}

#primary {
	width: 550px;
	float: left;
}

#secondary {
	width: 293px;
	float: right;
}

#header {
	background: #1698f1 url('images/bg-header.jpg') center top no-repeat;;
}


.header-title {
	padding-top: 45px;
	padding-bottom: 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;

}

.header-title h1.sm-title {
	color: #fff;
	font-family: 'HelveticaNeueCondensedBlackRegular', 'FranklinGothicDemiCondRegular', Arial,sans-serif;
	font-size: 81px;
	font-weight: normal;
	line-height: 1;
	padding-bottom: 0;
}
.header-title p {
	margin:0;
	color: #000004;
	font-family: 'FranklinGothicDemiCondRegular',Arial,sans-serif;
	font-size: 35px;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 8px;
}
a.header-claim {
	background: url('images/header_claim.png')top left no-repeat;
	width: 454px;
	max-width: 100%;
	height: 79px;
	display: inline-block;
	text-indent: -9999em;
	margin-top: 11px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}

a.header-claim:hover,
a.header-claim:focus {
	border: 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.sub-header{background:#000;}

#main {
	background: #fff;
}

#main .container {
	padding-top: 51px;
}

#content {
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0;
}

.sub-content {
	margin: 0 auto;
	padding: 18px 0 19px;
	width: 866px;
}

.sub-content h3 {
	color: #fff;
	font-family: Arial,sans-serif;
	font-size: 43px;
	line-height: 52px;
	margin: 0 auto;
	text-align: center;
}

.social-content {
	padding-top: 22px;
}
.social-content .entry-title {
	color:#f99d1c;
	font-family: 'GautamiRegular',Arial,sans-serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 46px;
	margin-bottom: 9px;
}

.social-content .entry-content {
	color: #000;
	font-family: 'GautamiRegular',Arial,sans-serif;
	font-size: 26px;
	font-weight: normal;
	margin-left: 0;
}

.social-content ul {
	list-style: none;
}
.social-content ul li {
	//background: url('images/check.png') no-repeat left 17px;
	padding-left: 35px;
	padding-top: 30px;
	line-height: 32px;
        
}
.social-content ul li img{position:absolute;left:0;width:25px;height:25px;}
.widget-title {
	background: #7bc342;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 18px 18px 0 0;
	-moz-border-radius: 18px 18px 0 0;
	border-radius: 18px 18px 0 0;
	color: #fff;
	font-family: 'HelveticaNeueCondensedRegular',Arial, sans-serif;
	font-size: 53px;
	font-weight: bold;
	display: block;
	height: auto;
	line-height: 60px;
	margin-bottom: 0;
	padding: 12px 12px 10px;
	text-align: center;
}
.widget-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f9fafb;
	border: 1px solid #d2d3d4;
	border-radius: 0 0 12px 12px;
	padding: 0 10px;
}
.widget-content label {
	color: #999a9a;
	font-family: 'HelveticaLTStdLightCondensed', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.widget-content p {
    color: #000;
	font-family: 'HelveticaNeueCondensedRegular',Arial, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 28px;
	margin-bottom: 14px;
	padding-top: 14px;
}
.widget-content .with-border {
	background: url('images/border.png') left top repeat-x;
	color:#2f87c6;
	font-family:'HelveticaLTStdLightCondensed',Arial,sans-serif;
	font-size: 27px;
	font-weight: bold;
	padding: 14px 0 0;
}

.widget-content .with-border span {
	background: url('images/border.png') left bottom repeat-x;
	display: block;
	padding: 0 0 14px;
}

.widget-content form {
	margin: 0 auto;
	width: 251px;
}

input.btn-submit {
	background: url('images/widget_claim.png')top left no-repeat;
	border: 0;
	width: 243px;
	height: 48px;
	display: block;
	text-indent: -9999em;
	margin: 16px auto 32px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input.btn-submit:hover,
input.btn-submit:focus {
	border: 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.footer-logo-wrap {
	padding: 14px 0 26px;
	position: relative;
}

.footer-logo {
	width: 120px;
	margin: -14px auto 0;
}

.footer-ribbon-left {
	background: url('images/ribbon_left.png') left top no-repeat;
	width: 420px;
	height: 63px;
	position: absolute;
	top: 14px;
	left: -13px;
}

.footer-ribbon-right {
	background: url('images/ribbon_right.png') right top no-repeat;
	width: 4190px;
	height: 63px;
	position: absolute;
	top: 14px;
	right: -13px;
}


#footer .footer-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #8f97ac;
	width: 950px;
	margin: 30px auto;
	padding: 14px 0;
	font-family: 'HelveticaNeueRegular',Arial,sans-serif;
	font-size: 15px;
	font-weight: normal;

}
#footer .company {
	display: inline-block;
}
#footer .company h2 {
	color: #2f87c6;
	font-family: 'HelveticaNeueCondensedRegular',Arial,sans-serif;
	font-size: 39px;
	font-weight: normal;
	padding-bottom: 10px;
}
#footer .company p {
	margin-bottom: 14px;
}

#footer .copyright {
	float: right;
	padding-top: 64px;
	text-align: right;
	width: 340px;
}
#footer p.footer-add,p.footer-copyright {
	color: #fff;
}

p.footer-copyright {
	line-height: 18px;
	margin-bottom: 16px;
}

#footer .company p span{
	color:#2f87c6;
}
#footer .copyright img {
	padding-bottom: 10px;
}

.banner {
	padding-top: 23px;
	position: relative;
}

.banner h2 {
	color: #2f87c6;
	font-family: 'BickhamScriptRegular', Georgia, sans-serif;
	font-size: 89px;
	font-weight: normal;
	position: absolute;
	left: 265px;
	top: 72px;
}

.banner h4 {
	color: #212121;
	font-family: 'LetterOMaticRegular', Georgia, sans-serif;
	font-size: 14.5px;
	font-weight: normal;
	position: absolute;
	left: 652px;
	top: 112px;
}

.main-border-left {
	background: url('images/border_left.png') left top no-repeat;
	width: 19px;
	height: 876px;
	position: absolute;
	top: 0;
	left: -19px;
}

.main-border-right {
	background: url('images/border_right.png') right top no-repeat;
	width: 19px;
	height: 876px;
	position: absolute;
	top: 0;
	right: -19px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container{width:760px;}
    #primary{width: 404px;}
    .sub-content {width: 720px;}
    .inner{width: 720px;}
    .social-content .entry-title {font-size: 32px;line-height: 40px;}
    .social-content ul li {font-size: 20px;line-height: 28px;padding-top: 14px;}
    .main-border-left, .main-border-right{display:none;}
	.footer-ribbon-left {width: 320px;}
	.footer-ribbon-right {width: 320px;}
	.footer-logo-wrap{overflow:hidden;}
	.banner h2 {font-size: 70px}
	.banner h4 {left: 520px}
    #footer .footer-content {width: 740px;}
    .header-title h1.sm-title{font-size: 65px;padding-bottom: 15px;line-height: 1;}
    .header-title p {font-size: 30px; }
    .sub-content h3{font-size: 35px;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#primary{float:none; width: 100%;}
    #secondary{float:none; margin:0 auto; padding-top:20px;}
    .sub-content {width: 400px;}
    .sub-content h3{font-size:20px; line-height:28px;}
    .inner{width:400px;}
    .social-content .entry-title {font-size: 32px;line-height: 40px;}
    .social-content ul li {font-size: 20px;line-height: 28px;padding-top: 14px;}
    .banner {padding-top: 40px;}
    .banner h2 {font-size: 54px;position:static;text-align:center;}
    .banner h4 {position: static;text-align: right;margin-right: 30px;}
    .banner img {padding-left: 40px;}
	.header-title h1.sm-title{font-size: 34px;padding-bottom: 10px; line-height: 1;}
	.header-title p {font-size: 25px;}
	#footer .footer-content {display: block; width: 100%;text-align: center;	}
	#footer .copyright {width: 100%;display: block;float: none; text-align:center; padding-top: 10px;}
	.header-title p{font-size:18px;}
    .main-border-left, .main-border-right{display:none;}
	.footer-ribbon-left, .footer-ribbon-right {display:none;}
	a.header-claim { background-size: 100% auto; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container{width:420px;}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.container{width:300px;}
	.header-title h1.sm-title{font-size:24px;}
	.header-title p{font-size:13px;}
	.header-title { padding-bottom: 0; }
	.sub-content, .inner {width: 294px;}
	.social-content .entry-title { font-size: 22px; line-height: 28px; }
	.banner img { padding-left: 0; }
	.banner h2 { font-size: 40px; margin-bottom: 0; }
	.banner h4 { margin-right: 0; text-align: center; margin-bottom: 30px; }
	#footer .company p, #footer p {font-size: 12px;margin-bottom: 8px;}
}


/* #Misc
================================================== */
.remove-bottom{margin-bottom:0!important;}
.half-bottom{margin-bottom:10px!important;}
.add-bottom{margin-bottom:20px!important;}
.color-orange{color:#f2710b!important;}
.color-red{color:red!important;}
.color-blue{color:#0068b0!important;}
.color-lightblue{color:#81c4f3!important;}
	
/*	WP */
.alignleft,.alignright{margin-bottom:20px;}
.alignleft{float:left;margin-right:10px;}
.alignright{float:right;margin-left:10px;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;text-align:center;}
img,embed,iframe,object,video{max-width:100%;}

/* #Clearing
================================================== */
.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}


/* #Font-Face
================================================== */

@font-face {
    font-family: 'HelveticaNeueCondensedBlackRegular';
    src: url('fonts/helvetica_neue_condensed_black.eot');
    src: url('fonts/helvetica_neue_condensed_black.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica_neue_condensed_black.woff') format('woff'),
         url('fonts/helvetica_neue_condensed_black.ttf') format('truetype'),
         url('fonts/helvetica_neue_condensed_black.svg#HelveticaNeueCondensedBlackRegular') format('svg');
}
@font-face {
    font-family: 'FranklinGothicDemiRegular';
    src: url('fonts/fradm.eot');
    src: url('fonts/fradm.eot?#iefix') format('embedded-opentype'),
         url('fonts/fradm.woff') format('woff'),
         url('fonts/fradm.ttf') format('truetype'),
         url('fonts/fradm.svg#FranklinGothicDemiRegular') format('svg');
}
@font-face {
    font-family: 'FranklinGothicDemiCondRegular';
    src: url('fonts/fradmcn.eot');
    src: url('fonts/fradmcn.eot?#iefix') format('embedded-opentype'),
         url('fonts/fradmcn.woff') format('woff'),
         url('fonts/fradmcn.ttf') format('truetype'),
         url('fonts/fradmcn.svg#FranklinGothicDemiCondRegular') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCondensedRegular';
    src: url('fonts/helvetica_neue_condensed_bold.eot');
    src: url('fonts/helvetica_neue_condensed_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica_neue_condensed_bold.woff') format('woff'),
         url('fonts/helvetica_neue_condensed_bold.ttf') format('truetype'),
         url('fonts/helvetica_neue_condensed_bold.svg#HelveticaNeueCondensedRegular') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('fonts/helvetica_neue.eot');
    src: url('fonts/helvetica_neue.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica_neue.woff') format('woff'),
         url('fonts/helvetica_neue.ttf') format('truetype'),
         url('fonts/helvetica_neue.svg#HelveticaNeueRegular') format('svg');
}
@font-face {
    font-family: 'GautamiRegular';
    src: url('fonts/gautami.eot');
    src: url('fonts/gautami.eot?#iefix') format('embedded-opentype'),
         url('fonts/gautami.woff') format('woff'),
         url('fonts/gautami.ttf') format('truetype'),
         url('fonts/gautami.svg#GautamiRegular') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLightRegular';
    src: url('fonts/helvetica_neue_light.eot');
    src: url('fonts/helvetica_neue_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica_neue_light.woff') format('woff'),
         url('fonts/helvetica_neue_light.ttf') format('truetype'),
         url('fonts/helvetica_neue_light.svg#HelveticaNeueLightRegular') format('svg');
}

@font-face {
    font-family: 'HelveticaLTStdLightCondensed';
    src: url('fonts/helveticaltstd-lightcond.eot');
    src: url('fonts/helveticaltstd-lightcond.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-lightcond.woff') format('woff'),
         url('fonts/helveticaltstd-lightcond.ttf') format('truetype'),
         url('fonts/helveticaltstd-lightcond.svg#HelveticaLTStdLightCondensed') format('svg');
}

@font-face {
    font-family: 'BickhamScriptRegular';
    src: url('fonts/bickhamscript.eot');
    src: url('fonts/bickhamscript.eot?#iefix') format('embedded-opentype'),
         url('fonts/bickhamscript.woff') format('woff'),
         url('fonts/bickhamscript.ttf') format('truetype'),
         url('fonts/bickhamscript.svg#BickhamScriptRegular') format('svg');
}


@font-face {
    font-family: 'LetterOMaticRegular';
    src: url('fonts/ltromatic.eot');
    src: url('fonts/ltromatic.eot?#iefix') format('embedded-opentype'),
         url('fonts/ltromatic.woff') format('woff'),
         url('fonts/ltromatic.ttf') format('truetype'),
         url('fonts/ltromatic.svg#LetterOMatic!Regular') format('svg');
}

